body{
	background-color:rgb(240, 240, 240);
}
table{
	color:rgb(102, 102, 153);
	text-align:left;
}
header {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	background-color:LightSlateGrey;
	font-size: 300%;
	}
h1 {
	color:LightSlateGrey;
	font-family: courier;
	font-size: 150%;
	border: 1p solid powderblue;
	padding: 15px;
	text-align: center;
	border-width: 10px;
	border-color:LightSlateGrey;
	border-style: outset;
}
nav {
    float: right;
	text-align: center;
    max-width: 300px;
    margin: 0;
    padding: 1em;
	overflow: auto;
	position:relative;
	top: 130px;
}
article {
	margin-right: 200px;
	border-right: 3px solid grey;
	padding: 1em;
	overflow: auto;
}
ul {
	list-style-type: none;
    margin: 0;
    width: 200px;
    background-color: LightSlateGrey;
	font-size: 125%;
	text-align: left;
}

li a {
	display: block;
	color: black;
    padding: 15px 20px;
    text-decoration: none;
	font-family: courier;
}
li a:hover {
    color: white;
	}
footer {
	background-color: LightSlateGrey;
	font-family: courier;
	text-align: center;
	font-size: 125%;
}
h1.headerino {
	text-decoration: overline;
}